<div class="container">
<h1 class="page-title">Listing templates</h1>
<% @templates.each do |template| %>
<div class="row template">
  <div class="heading1" >
    <span class="template-name"><%= template.name %></span>
    <div class="button-container">
        <span class="btn btn-primary"><%= link_to 'Show', template %></span>
        <span class="btn btn-info"><%= link_to 'Edit', edit_template_path(template) %></span>
        <span class="btn btn-danger"><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></span>&nbsp
    </div>
  </div>
  <div class="panel-body">
        <%= template.html.html_safe %>
        <%= template.logo %>
  </div>
  
</div>
<% end %>
<br>

<button class="btn btn-primary"><%= link_to 'New Template', new_template_path %></button>
<br>
<br>
</div>

