<div class="container">
<h1 class="page-title">Listing Customers</h1>
<% @contacts.each do |contact| %>
<div class="row contact">
  <div class="heading1" >
    <span class="contact-name"><%= contact.name %></span>
    <div class="button-container">
        <span class="btn btn-primary"><%= link_to 'Show', contact %></span>
        <span class="btn btn-info"><%= link_to 'Edit', edit_contact_path(contact) %></span>
        <span class="btn btn-danger"><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></span>&nbsp
    </div>
  </div>
  <div class="panel-body">
        <%= contact.email %>
        <%= contact.tel %>
        <%= contact.address %>
  </div>
  
</div>
<% end %>
<br>

<button class="btn btn-primary"><%= link_to 'New contact', new_contact_path %></button>
<br>
<br>
</div>