<p id="notice"><%= notice %></p>

<div class="row">
  <h2>Name:</h2>
  <div class="panel-body">
  	<p><%= @contact.name %></p>
  </div>
</div>

<div class="row">
  <h2>Type:</h2>
  <div class="panel-body">
  <p><%= @contact.type %></p>
  </div>
</div>

<div class="row">
  <h2>Email:</h2>
  <div class="panel-body">
  	<p><%= @contact.email %></p>
  </div>
</div>

<div class="row">
  <h2>Telephone:</h2>
  <div class="panel-body">
  	<p><%= @contact.tel %></p>
  </div>
</div>

<div class="row">
  <h2>Address:</h2>
  <div class="panel-body">
  <p><%= @contact.address %></p>
  </div>
</div>
<br><br>
<span class="btn btn-primary"><%= link_to 'Edit', edit_contact_path(@contact) %> </span>
<span class="btn btn-primary"><%= link_to 'Back', contacts_path %></span>
<br>
<br><br><br><br><br><br><br><br><br><br><br>